/* ----------------------------------------------- 共通 */
/* これ以前のコードは編集しないため省略しています */

 .section_title {
   /* フォントサイズ36px */
   font-size: 36px;
 
   /* フォントの太さ600 標準は400です */
   font-weight: 600;
 }

 .about::after {
   content: "シェフ";
 }

 .section_title::after {
 
   /* 疑似要素はデフォルトでインライン要素のためブロック要素に変更 */
   display: block;
 
   /* サブタイトル文字の大きさや余白を設定 */
   font-size: 14px;
   font-weight: 400;
   padding: 16px 0 16px;
 
   /* 下線の幅を100pに設定 */
   width: 100px;
 
   /* 下線を直線・1px・黒色に設定 */
   border-bottom: solid 1px #000000;
 }
 .about_us_bg {
   background-color: #Fdf5e6;
 }